<div class="container-fluid mt-5 pt-5" id="contact">
  <div class="title mb-4">
    <h2 class="text-center text-decoration-underline mt-2">Contact</h2>
    <p class="text-center mt-2 mb-2">
      Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
      aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
      quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
      sit in iste officiis commodi quidem hic quas.
    </p>
  </div>
  <div class="row mt-2 mb-5">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d72453.55896940136!2d78.43696440784318!3d17.369933260311317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1678859003640!5m2!1sen!2sin"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="d-flex gap-2 mb-2">
          <span>
            <i class="bi bi-geo-alt-fill fs-1" style="color: skyblue"></i
          ></span>
          <div class="mat" style="color: skyblue">
            <p class="fs-3 fw-bold mb-0">Location:</p>
            <span>A108 Adam Street, New York, NY 535022</span>
          </div>
        </div>
        <div class="d-flex gap-2 mb-2">
          <span>
            <i class="bi bi-envelope-fill fs-1" style="color: skyblue"></i
          ></span>
          <div class="mat" style="color: skyblue">
            <p class="fs-3 fw-bold mb-0">Email:</p>
            <span>info@example.com</span>
          </div>
        </div>
        <div class="d-flex gap-2 mb-2">
          <span> <i class="bi bi-phone fs-1" style="color: skyblue"></i></span>
          <div class="mat" style="color: skyblue">
            <p class="fs-3 fw-bold mb-0">Call:</p>
            <span>+1 5589 55488 55s</span>
          </div>
        </div>
      </div>
      <div class="col-8">
        <form>
          <div class="row">
            <div class="col-6 rounded-0">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="First Name"
                />
              </div>
            </div>
            <div class="col-6 rounded-0">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="Last Name"
                />
              </div>
            </div>
          </div>

          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="subject"
              placeholder="Subject"
            />
          </div>
          <div class="mb-3">
            <textarea
              type=""
              class="form-control"
              id="message"
              placeholder="Message"
            >
            </textarea>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary rounded-pill">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="copyright mt-5  " style="background-color: black">
  <div class="row p-3  ">
    <div class="col-6 ">
      <div class="mat" style="color: white">
        <p class="">
          © Copyright <span class="fw-bold">Medilab</span> . All Rights Reserved
        </p>
        <span>A108 Adam Street, New York, NY 535022</span>
      </div>
    </div>
    <div class="col-6  d-flex gap-5 ">
      <div class="icons gap-2">
        <span><i class="bi bi-twitter fs-2" style="color: skyblue"></i></span>
      </div>
      <div class="icons">
        <span><i class="bi bi-instagram fs-2" style="color: skyblue"></i></span>
      </div>
      <div class="icons gap-2">
        <span><i class="bi bi-facebook fs-2" style="color: skyblue"></i></span>
      </div>
      <div class="icons gap-2">
        <span
          ><i
            class="bi bi-whatsapp fs-2 rounded-circle"
            style="color: skyblue"
          ></i
        ></span>
      </div>
    </div>
  </div>
</div>
