<div class="container-fluid" id="about">
  <div class="title">
    <h1 class="text-center mt-5 text-decoration-underline">About</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <img
        src="../../assets/about.jpg"
        alt="about"
        class="img-fluid"
        width="100%"
      />
    </div>
    <div class="col-8 mt-5">
      <div class="about">
        <h3>ABOUT US</h3>
        <h5>What we are and our history</h5>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
        </p>
        <hr />
        <h3>VISION &amp; MISSION</h3>
        <h5>Our goal and thoughts</h5>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-5">
      <div class="card rounded-0">
        <div class="card-body">
          <h2 class="card-title">Our services list</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <a href="/service"
            ><button class="btn btn-danger">View All Services</button></a
          >
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card rounded-0">
        <div class="card-body">
          <h2 class="card-title">Our Working Hours</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex fs-5">
              <p>Monday-Wednesday</p>
              <span class="text-right ms-auto">08.00-18.00</span>
            </li>
            <li class="list-group-item d-flex fs-5">
              <p>Thursday -Friday</p>
              <span class="text-right ms-auto">08.00-18.00</span>
            </li>
            <li class="list-group-item d-flex fs-5">
              <p>Saturday</p>
              <span class="text-right ms-auto">08.00-18.00</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
