.img-gal {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;

}
.img-gal:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
