<div class="container" id="appoin">
  <div class="row mt-3">
    <h2 class="text-center mb-5 text-decoration-underline">
      Book Your AppointMent
    </h2>
    <div class="col-5 border border-1 app-form">
      <div class="title">
        <h3>Appointment Form</h3>
      </div>
      <form>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="name"
          />
        </div>
        <div class="mb-2">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Email"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            id="number"
            placeholder="Mobile Number"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            id="date"
            placeholder="Booking Date"
          />
        </div>
        <div class="mb-2">
          <select class="form-select form-select-lg mb-3"   >
            <option selected>--Department--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mb-2">
          <select class="form-select form-select-lg mb-3">
            <option selected>--Hourly Preference--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-3">
      <div class="doc-img">
        <img
          src="../../assets/doctor_1.png"
          alt="doc-img"
          class="img-fluid doc-img"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="choose d-flex gap-2">
        <div class="choose-icon">
          <i class="fas fa-phone-square-alt fa-3x"></i>
        </div>
        <div class="choose-content">
          <h4>Health Information</h4>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC.
          </p>
        </div>
      </div>
      <div class="choose d-flex gap-2">
        <div class="choose-icon">
          <i class="fas fa-microscope fa-3x"></i>
        </div>
        <div class="choose-content">
          <h4>Medical Education</h4>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC.
          </p>
        </div>
      </div>
      <div class="choose d-flex gap-2">
        <div class="choose-icon">
          <i class="fad fa-vial fa-3x"></i>
        </div>
        <div class="choose-content">
          <h4>Symptom Check</h4>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC.
          </p>
        </div>
      </div>
      <div class="choose d-flex gap-2">
        <div class="choose-icon">
          <i class="far fa-user-md fa-3x"></i>
        </div>
        <div class="choose-content">
          <h4>Qualified Doctors</h4>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
