<div class="container">
  <div class="title">
    <h2 class="text-center text-decoration-underline">OUR DOCTOR</h2>
    <p class="text-center fs-3">Our department & special service</p>
  </div>

  <div class="row " >
    <div class="col-4">
      <div class="card">
        <img
          src="../../assets/doctor_1.png"
          class="card-img-top img-fluid"
          width="100%"
          alt="doc-img"
        />
        <div class="card-body mt-4 mb-0 border-top">
          <h4>Dr. David Moniky</h4>
          <h5>Huntington's</h5>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          src="../../assets/doctor_2.png"
          class="card-img-top img-fluid"
          width="100%"
          alt="doc-img"
        />
        <div class="card-body mt-4 mb-0 border-top">
          <h4>Dr. Naeem Khan</h4>
          <h5>Ophthalmology</h5>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          src="../../assets/doctor_3.png"
          class="card-img-top img-fluid"
          width="100%"
          alt="doc-img"
        />
        <div class="card-body mt-4 mb-0 border-top">
          <h4>Dr. Tanjil Ahmed</h4>
          <h5>Dental</h5>
        </div>
      </div>
    </div>
  </div>
</div>
