
  <div class="container-fluid pt-5 mt-5" id="service">
    <div class="row">
      <div class="col-md-12">
        <div class="title-block">
          <h3 class="text-center fs-2 text-decoration-underline">Service We Offer</h3>
          <p class="text-center fs-4 mt-2 mb-3">Our department &amp; special service</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="service-grid d-flex gap-1">
          <div class="service-icon">
            <i class="fa fa-ambulance fa-3x" aria-hidden="true"></i>
          </div>
          <div class="service-text">
            <h4>Emergency Care</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-grid d-flex gap-1">
          <div class="service-icon">
            <i class="far fa-stethoscope fa-3x"></i>
          </div>
          <div class="service-text">
            <h4>Call Center 24/7</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-grid d-flex gap-1">
          <div class="service-icon">
            <i class="fas fa-phone-square-alt fa-3x"></i>
          </div>
          <div class="service-text">
            <h4>Call Center 24/7</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-grid d-flex gap-1">
          <div class="service-icon">
            <i class="fad fa-vial fa-3x"></i>
          </div>
          <div class="service-text">
            <h4>Blood Test</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-grid d-flex gap-1">
          <div class="service-icon">
            <i class="fal fa-heartbeat fa-3x"></i>
          </div>
          <div class="service-text">
            <h4>Cardiac Surgery</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-grid d-flex gap-1">
          <div class="service-icon">
            <i class="far fa-tooth fa-3x"></i>
          </div>
          <div class="service-text">
            <h4>Dental Care</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-grid d-flex gap-1">
          <div class="service-icon">
            <i class="far fa-user-md fa-3x"></i>
          </div>
          <div class="service-text">
            <h4>Outdoor Checkup</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-grid d-flex gap-1">
          <div class="service-icon">
            <i class="far fa-eye fa-3x"></i>
          </div>
          <div class="service-text">
            <h4>Ophthalmology</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-grid d-flex gap-1">
          <div class="service-icon">
            <i class="fas fa-heart-circle fa-3x"></i>
          </div>
          <div class="service-text">
            <h4>Heart disease</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

