<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="First Name"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="First Name"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Last Name"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Email"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Password"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Confirm Password"
        />
      </div>
    </div>
  </div>
</div>
